* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

li {
    list-style-type: none;
}

.box {
    width: 962px;
    margin: 0 auto;
}

header {
    margin: 30px 0 20px;
}

#menu {
    margin: 0 31px;
}

#top_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* top_left_menu */
#top_left_menu {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#logo img {
    width: 90px;
}

#top_left_menu a:link,
a:visited,
a:active {
    border: none;
    color: black;
    text-decoration: none;
}

#top_left_menu a:hover {
    border: none;
    color: gray;
}

#top_left_menu .item {
    margin-left: 30px;
}

#top_left_menu .item #search {
    width: 360px;
    height: 35px;
    border: solid 0.1px rgb(228, 228, 228);
    border-radius: 17px;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
}

#search input {
    border: none;
    background-color: rgb(244, 244, 244);
    margin-left: 20px;
}

#search img {
    width: 20px;
}

#search button {
    margin-right: 12px;
    border: none;
}

/* top_right_menu */
#top_right_menu {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

#top_right_menu .item {
    margin-left: 10px;
    font-size: 13px;
}

#top_right_menu a:link,
a:visited,
a:active {
    border: none;
    color: black;
    text-decoration: none;
}

#top_right_menu a:hover {
    border: none;
    color: gray;
}

/* main_menu */
#main_menu {
    margin-top: 30px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#main_menu .img_text {
    display: flex;
    align-items: flex-start;
}

#main_menu .img_text img {
    width: 15px;
    margin-right: 5px;
}

#main_menu a:link,
a:visited,
a:active {
    border: none;
    color: black;
    text-decoration: none;
}

#main_menu a:hover {
    border: none;
    color: gray;
}

/* main_image */
#main_image {
    background-image: url("./img/e6a99d4909bef9b636a2e3557810d5c6_95857.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-color: rgb(242, 239, 244);
    border-top: 1px solid rgb(228, 228, 228);
}

/* main */
/* top_main */
#top_main {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin: 50px 31px 64px 31px;
}

#top_main a:link,
a:visited,
a:active {
    border: none;
    color: black;
    text-decoration: none;
}

#top_main .icon:hover img {
    border: none;
    background-color: rgb(255, 149, 214);
    border: 1px solid rgb(253, 97, 193);
}

#top_main .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top_main .icon img {
    border: 1px solid rgb(228, 228, 228);
    width: 65px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
}

#top_main .icon .text {
    margin-top: 15px;
    font-size: 14px;
}

/* main */
.main {
    clear: both;
    margin: 40px 31px 40px 31px;
}

.main_banner {
    height: 50px;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px;
}

.main_banner .title {
    font-size: 24px;
    font-weight: bold;
}

.main_banner a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.main_banner a:hover {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

/* main_items */
.main_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .item {
    clear: both;
    margin-top: 30px;
    width: 276px;
    /* height: 325px; */
}

.main .item a {
    text-decoration: none;
}



.main .item a img {
    width: 274px;
    height: 180px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    padding: 0;
}

.main .info {
    padding: 12px 6px;
}

.main .item .annotation {
    font-size: 12px;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

.main .item .annotation a {
    color: gray;
}

.main .item .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main .item .comment img {
    width: 12px;
    height: 12px;
    border: none;
    margin-left: 5px;
}

.main .comment .number {
    margin-left: 5px;
}

.main .title {
    margin: 10px 0;
}

.main .title .acon_only {
    color: rgb(211, 67, 235);
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 6px;
    display: flex;
    flex-direction: row;
}

.main .title .acon_only img {
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.main .title a .name {
    font-size: 15px;
    font-weight: normal;
}

.main .title .price {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main .title .price .plus {
    color: rgb(239, 0, 244);
    font-weight: bold;
    margin-right: 10px;
}

.main .title .price .plus1 {
    color: grey;
    font-weight: bold;
    margin-right: 10px;
}

.main .title .price .discount {
    color: rgb(177, 110, 188);
    font-size: 13px;
    margin-left: 5px;
}

.main .item .tag a {
    color: black;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 8px 0 0;
    font-size: 12px;
    text-decoration: none;
}

.main .item .skp {
    background-color: rgb(210, 214, 255);
}

/* footer */
footer {
    background-color: rgb(248, 248, 248);
}

.footer_border {
    border-color: rgb(228, 228, 228);
    border-style: solid;
    border-width: 1px 0;
}

.top-menu {
    padding: 15px 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.top-menu__menu-bar {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.top-menu__menu-bar a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 0 16px;
    color: rgb(83, 83, 83);
    border-right: solid 1px rgb(228, 228, 228);
}

.top-menu__icons {
    width: 128px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-menu__language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.top-menu__language select {
    vertical-align: bottom;
    border: rgb(168, 168, 168);
    margin-left: 13px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 30px;
}

.info {
    padding: 54px 31px 91px 31px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: rgb(124, 124, 124);
}

.info__logo {
    margin-bottom: 25px;
}

.info__nav1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.info__nav1 div {
    margin-right: 12px;
}

.info__nav2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.info__nav2 div {
    margin-right: 12px;
}

.info__copy {
    font-weight: bold;
    margin-bottom: 10px;
}