<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="box">
            <div id="logo">
                <img src="./img/logo.png">
            </div>
            <nav id="menu">
                <ul id="top_menu">
                    <li>김유진(youjin)님</li>
                    <li>|</li>
                    <li>로그아웃</li>
                    <li>|</li>
                    <li>정보수정</li>
                </ul>
                <ul id="main_menu">
                    <li>Home</li>
                    <li>출석부</li>
                    <li>작품갤러리</li>
                    <li>게시판</li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="main_image">
        <a href="#"><img src="./img/btn_class.png"></a>
    </section>

    <div class="box">
        <aside>
            <h2 class="title1">The 베이킹</h2>
            <p class="comment">안녕하세요. 쿠키와 빵 만들기 정보를
                공유하고 소통하는 공간입니다.
            </p>
            <div class="search"><input type="text"><button>검색</button></div>

            <h2 class="title2">베이킹/요리</h2>
            <ul class="list">
                <li>쿠키 만들기</li>
                <li>빵 만들기</li>
                <li>마카롱 만들기</li>
            </ul>

            <div class="ripple">
                <h2>최근 댓글</h2>
                <ul>
                    <li>빵조아</li>
                    <li>초코빵쥬세요</li>
                    <li>죽빵</li>
                </ul>
            </div>
        </aside>

        <section id="main">
            <div id="main1">
                <h3 class="title1">알림</h3>
                <ul class="latest">
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                </ul>
                <!--latest-->

                <h3 class="title2">게시판</h3>
                <ul class="latest">
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                </ul>
                <!--latest-->
            </div>
            <!--main1-->

            <div id="main2">
                <h3 class="title1">제빵 클래스</h3>
                <ul class="item1">
                    <li><img src="./img/bread1.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item2">
                    <li><img src="./img/bread2.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item1">
                    <li><img src="./img/bread3.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item2">
                    <li><img src="./img/bread4.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
            </div>
        </section>

        <footer>
            <div class="box">
                <nav id="bottom_menu">
                    <ul>
                        <li>The 베이킹 소개</li>
                        <li>개인정보처리방침</li>
                        <li>저작권 정보</li>
                        <li>이용 안내</li>
                    </ul>
                </nav>

                <div class="items">
                    <h3>문의전화</h3>
                    <ul>
                        <li class="phone">123-4567</li>
                        <li>10:00 - 18:00(Lunch 12:00 - 13:00)</li>
                    </ul>
                </div>


                <div class="items">
                    <h3>The 베이킹</h3>
                    <ul>
                        <li>주소 : 경기도 용인시 기흥구 동백대로</li>
                        <li>전화 : 031-123-1234</li>
                        <li>팩스 : 031-123-1234</li>
                        <li>이메일 : 123-12-12345</li>
                    </ul>
                </div>


                <div class="items">
                    <h3>입금 정보</h3>
                    <ul>
                        <li>농협 123-123-123456</li>
                        <li>The 베이킹</li>
                    </ul>
                </div>

            </div>
        </footer>
    </div>
</body>

</html>