<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <aside>사이드바</aside>

        <section id="main">
            <div id="main1">
                <h3 class="title1">알림</h3>
                <ul class="latest">
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">쿠킹 클래스 연기합니다.</div>
                        <div class="date">09.30</div>
                    </li>
                </ul>
                <!--latest-->

                <h3 class="title2">게시판</h3>
                <ul class="latest">
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                    <li class="items">
                        <div class="subject">안녕하세요. 반갑습니다.</div>
                        <div class="date">09.30</div>
                    </li>
                </ul>
                <!--latest-->
            </div>
            <!--main1-->

            <div id="main2">
                <h3 class="title1">제빵 클래스</h3>
                <ul class="item1">
                    <li><img src="./img/bread1.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item2">
                    <li><img src="./img/bread2.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item1">
                    <li><img src="./img/bread3.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
                <ul class="item2">
                    <li><img src="./img/bread4.png"></li>
                    <li class="subject">도너트 만들기[3]</li>
                    <li class="date">21.09.30</li>
                </ul>
            </div>
        </section>
    </div>
</body>

</html>