* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.box {
    width: 1100px;
    margin: 0 auto;
}

header {
    height: 166px;
}

#logo {
    float: left;
    margin: 80px 0 0 60px;
}

#menu {
    float: right;
    text-align: right;
    margin-right: 20px;
}

#menu li {
    display: inline-block;
}

#top_menu li {
    margin: 30px 0 0 10px;
}

#main_menu li {
    margin: 50px 0 0 80px;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 20px;
}

#main_image {
    height: 312px;
    background-image: url("./img/main_bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    padding: 230px 0 0 750px;
}

aside {
    width: 220px;
    float: left;
    margin: 70px 0;
}

aside .title1 {
    padding: 12px;
    background-color: rgb(0, 212, 124);
    font-weight: bold;
    color: white;
    font-size: 18px;
}

aside .comment {
    padding: 20px 10px;
    line-height: 150%;
}

aside .search input {
    width: 160px;
    height: 32px;
    border: solid 1px black;
    vertical-align: top;
}

aside .search button {
    margin-left: 5px;
    padding: 6px 10px;
    border: solid 1px black;
}

/* 베이킹/요리 */
aside .title2 {
    margin-top: 20px;
    padding: 12px;
    border-top: 2px solid #000;
    border-bottom: 1px solid grey;
    font-size: 18px;
}

aside .list {
    margin: 20px 0;
}

aside .list li {
    margin: 10px 12px;
}

/* 최근 댓글 */
aside .ripple {
    border: solid 1px rgb(0, 212, 124);
    padding: 12px;
}

aside .ripple h2 {
    font-size: 18px;
    margin: 10px 0 15px 0;
}

aside .ripple li {
    margin-top: 6px;
}

/* 메인 섹션 : main1 + main2 */
#main {
    width: 840px;
    float: right;
    margin: 70px 0;
}

/* 알림과 게시판 */
#main1 {
    width: 405px;
    float: left;
}

#main1 .title1 {
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

#main1 .latest {
    margin-top: 30px;
}

#main1 .items {
    position: relative;
    height: 34px;
}

#main1 .items .subject {
    position: absolute;
    left: 0;
    top: 0;
}

#main1 .items .date {
    position: absolute;
    right: 0;
    top: 0;
}

#main1 .title2 {
    margin-top: 30px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

/* 제빵 클래스 */
#main2 {
    width: 400px;
    float: right;
}

#main2 .title1 {
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}

#main2 .item1 {
    clear: both;
    width: 189px;
    float: left;
    margin-top: 30px;
}

#main2 .item2 {
    width: 189px;
    float: right;
    margin-top: 30px;
}

#main2 .subject {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

#main2 .date {
    margin-top: 5px;
}

/* footer */
footer {
    clear: both;
    height: 260px;
    background-color: rgb(11, 0, 73);
    color: white;
}

#bottom_menu ul {
    padding: 20px 0 0 100px;
    font-weight: bold;
}

#bottom_menu li {
    display: inline;
    margin-right: 30px;
}

footer .items {
    float: left;
    margin: 40px 0 0 100px;
}

footer h3 {
    color: rgb(0, 212, 124);
}

footer .items ul {
    margin-top: 15px;
}

footer .items li {
    margin-top: 5px;
}

footer .phone {
    font-size: 25px;
    font-weight: bold;
}